* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*cambia el tipo de letra*/


body {
    margin: 0px;
    padding: 0px;
}

/*--------------------------------------------------------
        Estilos para encabezado
 -----------------------------------------------------------*/

.header {

    border-radius: 2em;
    grid-area: encabezado;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url("imagenes.pro/correr-running-runner-playa-696x464.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}


.logo {
    margin-top: 150px;
    /* Ajusta el margen superior según tu diseño */
    margin-left: 20px;;
    /* Ajusta el margen derecho según tu diseño margin-right: 10px;*/
    order: 1;
    align-self: flex-end;
    width: 150px;
}

h1 {
    margin: 50px;
    font-size: 120px;
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;

}

.header>p {
    margin: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
}

/*--------------------------------------------------------
        Estilos para Barra de Menu
 -----------------------------------------------------------*/
.menu {

    border-radius: 2em;
    grid-area: barramenu;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    color: cadetblue;
    padding: 7px 8px;
    font-size: 10px;
    place-items: center;
    text-align: center;
    text-decoration: none;
    display:inline-block;
}

li a:hover {
    background-color: dodgerblue;
    color: #000;
    animation-name: boton-menu;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
   
}
-----------------------------------------------------------*/
.menu2 {

    border-radius: 2em;
    grid-area: barramenu;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    color: cadetblue;
    padding: 7px 8px;
    font-size: 10px;
    place-items: center;
    text-align: center;
    text-decoration: none;
    display:block;
}

li a:hover {
    background-color: dodgerblue;
    color: #000;
    animation-name: boton-menu;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
   
}

@keyframes boton-menu {
    0% {
        transform: scaleX(1.0);
    }

    50% {
        transform: scaleX(1.15);
    }

    100% {
        transform: scaleX(1.0);
    }
}



/*--------------------------------------------------------
        Estilos para imagen principal
 -----------------------------------------------------------*/
.contenedor-imagen {
    display: flex;
    width: 100%;
    height: 400px;
    grid-area: imagencentral;

}

.contenedor-imagen img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------------
         Estilos para mostrar subtitulos
-----------------------------------------------------------*/
.contenedor-subtitulo {
    border-radius: 2em;
    width: 100%;
    margin-bottom: 1%;
    background-color: cadetblue;
    padding: 6px 6px;
    letter-spacing: 3px;
    text-align: center;
    grid-area: subtitulo;


}

/*--------------------------------------------------------
         Estilos para mostrar Imagenes deportes
-----------------------------------------------------------*/
.contenedor-deportes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: imagenes-deporte;
}

.contenedor-deportes .imagen-deporte {
    width: 300px;
    position: relative;
}

.contenedor-deportes .imagen-deporte img {
    width: 100%;
    height: 400px;
}

/*--------------------------------------------------------
        Estilos para Pie de Pagina
 -----------------------------------------------------------*/
.pie {
    display: flex;
    border-radius: 2em;
    height: 100px;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    padding: 0px 25px;
    background-color: cadetblue;
    font-size: 5px;
    grid-area: footer;

}

.iconos {
    display: flex;
    column-gap: 12px;
    align-items: center;
    text-align: center;
    align-content: center;
}

.pie .iconos>a {
    color: black;
    font-size: 15px;

}

.pie .iconos>h2 {
    color: black;
    font-size: 15px;
}

.pie .logo-footer img {
    width: 50px;

}

/*--------------------------------------------------------
        Estilos para contenedor GRID pantalla pequeñas
 -----------------------------------------------------------*/
.contenedor {
    display: grid;
    grid-template: repeat(6, auto)/100%;
    grid-template-areas: "encabezado"
        "barramenu"
        "imagencentral"
        "producto"
        "footer";
}



/*--------------------------------------------------------
        Estilos grid para pantallas small
 -----------------------------------------------------------*/

@media (min-width:720px) {
    .contenedor {
        display: grid;
        grid-template: repeat(5, auto)/ 50% 50%;
        grid-template-areas: "encabezado encabezado"
            "barramenu barramenu"
            "imagencentral imagencentral"
            "subtitulo subtitulo"
            "producto producto"
            "footer footer";
    }

    .encabezado H1 {
        letter-spacing: 5px;
        font-size: 2vw;
    }

    .encabezado .iconos>a {
        font-size: 20px;
    }

    .encabezado img {
        width: 70px;
        margin: 0px 15px;
    }

    .contenedor-subtitulo {
        font-size: 1.1vw;

    }

    .pie {
        font-size: 10px;


    }

    .pie .logo-footer img {
        width: 200px;

    }

    .pie .iconos>a {
        font-size: 15px;

    }

    .pie .iconos>h2 {
        font-size: 15px;
    }

    li a {
        color: cadetblue;
        padding: 14px 16px;
        font-size: 20px;
        place-items: center;
        text-align: center;
        text-decoration: none;
        display:inline-block;
    }

}


/*--------------------------------------------------------
        Estilos contenedor productos
 -----------------------------------------------------------*/

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: producto;
}

.contenedor-productos .producto {
    width: 300px;
    margin: 15px;
    overflow: hidden;
    position: relative;
    color: grey;



}

.contenedor-productos .producto img {
    width: 100%;
    height: 400px;
}

.contenedor-productos .producto .nombre-producto {
    margin: 0;
    align-items: center;
    text-align: center;
    padding: 15px 15px 30px;
    font-size: medium;


}


.contenedor-productos .producto .detalle-producto {
    color: gray;
    bottom: -100%;
    padding: 30px;
    max-height: 100%;
    overflow-y: auto;
    line-height: 15px;
    position: absolute;
    background-color: whitesmoke;
    box-sizing: border-box;
    transition: bottom 0.4s ease-in-out;
}

.contenedor-productos .producto:hover .detalle-producto {
    bottom: 0;

}

/*--------------------------------------------------------
        Estilos para contenedor GRID todas las pantallas
        
 -----------------------------------------------------------*/
.contenedor {
    display: grid;
    grid-template: repeat(6, auto)/100%;
    grid-template-areas: "encabezado"
        "barramenu"
        "imagencentral"
        "producto"
        "footer";
}
